body {
  font-family: "Roboto", sans-serif;
  color: var(--base-color);
  background-color: var(--base-back-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --base-color: #212121;
  --base-back-color: white;
  --hover-color: #2196f3;
  --btn-hover-color: #188ce8;
  --contact-color: #757575;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --title-studio-color: #ffffff;
  --back-color: black;
  --title-color: #2f303a;
}
/*--------- HEADER -------- */

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19; /* identical to box height */
  color: var(--hover-color);
}

.header-logo-boot {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19; /* identical to box height */
  color: var(--base-color);
}

.header-mail {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--hover-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--hover-color);
}

/*---------TITLE-----------*/

.title-link {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--title-color);
  color: var(--title-studio-color);
}

.title-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87; /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--title-studio-color);
}

.title-btn:hover,
.title-btn:focus {
  background-color: var(--btn-hover-color);
}

/*---------MENU----------*/

.menu-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62; /* identical to box height, or 162% */
  text-align: center;
}

.menu-btn:hover,
.menu-btn:focus {
  background-color: var(--hover-color);
  color: var(--title-studio-color);
}

/*-------PRIOR--------*/

.prior {
  display: none;
}

.prior-title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.prior-after-title {
  line-height: 1.71; /* or 171% */
  color: var(--contact-color);
}

/*--------WORK--------*/

.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*---------TEAM---------*/

.tiem-link {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18; /* identical to box height */
  text-align: center;
}

.team-after-title {
  font-size: 16px;
  line-height: 1.18; /* identical to box height */
  text-align: center;
  color: var(--contact-color);
}

/*------------BEDGE--------------*/

.bedge-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2; /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.bedge-after-title {
  font-size: 16px;
  line-height: 1.87; /* identical to box height, or 187% */
  color: var(--contact-color);
}

/*------------FOOTER-------------*/

.footer {
  background-color: var(--title-color);
}

.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19; /* identical to box height */
  color: var(--hover-color);
}

.footer-logo-boot {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19; /* identical to box height */
  color: var(--base-back-color);
}

.footer-item {
  font-style: normal;
  line-height: 1.71; /* or 171% */
  color: var(--title-studio-color);
}

.footer-mail {
  font-style: normal;
  line-height: 1.71; /* or 171% */
  color: var(--contact-footer-color);
}

.footer-tel {
  font-style: normal;
  line-height: 1.71; /* or 171% */
  color: var(--contact-footer-color);
}

.footer-item:hover,
.footer-item:focus {
  color: var(--hover-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--hover-color);
}

.footer-tel:hover {
  color: var(--hover-color);
}
